body {
    display: grid;
    place-items: center;
    height: 100vh;
    margin: 0;
}

canvas {
    width: 1280px;
    height: 720px;
}

.game-field {
    position: relative;
}

.ui {
    position: absolute;
    transform: scale(1.3)
}

.ui-inventory {
    bottom: 2%;
    left: 50%;
    transform: translateX(-50%) scale(1.3);
}

.ui-days {
    top: 3%;
    right: 0;
}

.ui-order {
    top: 1%;
    left: 3%;
}